body {
    margin: 0;
}

.app {
    min-height: 100vh;
    background-color: red;
}
.sanjar {
	background-color: #fff;
}
.app.dark {
    background: #01014a;
}

.app.light {
    background: #be9898;
}