body {
    margin: 0;
}

.app {
    min-height: 100vh;
}
.sanjar {
	background-color: #fff;
}
.app.dark {
    background: #01014a;
}

.app.light {
    background: #be9898;
}

h2 {
    font-size: 20px;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
}